/* General 
============*/
html {
  /* Setting a base font size of 10px give us easier rem calculations
     Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
   */
  font-size: 10px;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

body {
  margin: 30px 8px;
  padding: 15px;
  background: #eee;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: .025em;

}


/* IMAGES
===========*/
figure {
  padding: 4px;
  margin: auto;
  width: 900px;
}

#img1{
	display: block;
	margin: auto;
	width: 900px;
}

.aside-image {
	width: 272px;
}

/* Typography
===========*/
.handwritten-font {
	font-family: cursive;
	text-align: center;
}

a {
	text-decoration: none;
	color: dodgerblue;
}
a:hover {
	color: mediumseagreen;
}

/* Flex
===========*/
.container {
	display: flex;
	justify-content: space-between;
}


	main {
		width: 65%;
	}

			main th {
				width: 20%;
				text-align: left;
				padding-left: .75em;
				background-color: whitesmoke;
			}

			th, td {
				line-height: 1.5em;
				;
			}

			td {
				background-color: lightgrey;	
				padding-left: .5em;
			}

	aside {
		width: 30%;
	} 
			aside h2 {
				text-align: center;
			}

			aside th {
				width: 25%;
				background-color: whitesmoke;
			}

footer {
	background-color: lightgrey;
	text-align: center; 
	padding: 2px;
}

