/* Setting a base font size of 10px give us easier rem calculations
     Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
   */

h2, em {
	color: #264653;
} 

h4 {
	color: white;
}

label {
	font-style: bold; 
}

.container-fluid {
	background-color: white;
	color: #264653;
	
}


/*-------- Buttons ----*/
#sub-btn {
	border-radius: 5px 5px 5px 5px;
	background-color: #E9C46A; 
	color: white;
	padding: 4px;
	border: none;
	width: 40%;
	justify-content: center;
}
#sub-btn:hover {
	transition-duration: .8s;
	background-color: white;
	color: #264653;
}

#btn-save1, #btn-save2, #btn-save3 {
	border-radius: 5px 5px 5px 5px;
	background-color: #E9C46A;
	border: none;
	width: 16%;
}
#btn-save1:hover, #btn-save2:hover, #btn-save3:hover {
	background-color: white
}	

